body {
    height: 768px;
    width: 1366px;
    display: flex;
    justify-content: center;
    background-color:darkseagreen;
}

.entire-content {
    width: 300px;
}
    

.color {
    border: black solid 1px;
    width: 20%;
    height: 100%;
}

#color-palette :nth-child(1){
    background-color: black;
}

#color-palette {
    height: 35px;
    width: 210px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 28px;
}

#pixel-board {
    width: 80%;
    margin: 40px 0 0 21px;
}

.pixel {
    width: 40px;
    height: 40px;
    border: black solid 1px;
    background-color: white;
    display: inline-block;
}